{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des événements</h1>
    </div>
{% endblock %}

{% block title %}
    Événements | {{ parent() }}
{% endblock %}

