{% extends 'base.html.twig' %}

{% block title %}Créer une sortie - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center pb-5">Créer une sortie</h1>

    {% include 'event/_form.html.twig' with {form: form, locationsData: locationsData} only %}

{% endblock %}
