{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <a href="{{ path('app_admin_show') }}" class="btn btn-primary">Gérer les utilisateurs</a>


    <a href="#" class="btn btn-primary">Gérer les villes</a>


    <a href="#" class="btn btn-primary">Gérer les campus</a>


{% endblock %}
