{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block header %}
    <div class="container-fluid ">
        {{ parent() }}
        {% include("inc/nav.html.twig") %}
    </div>
{% endblock %}