<button id="backButton" class="btn btn-primary" >Retour arrière</button>

<script>
    document.getElementById('backButton').addEventListener('click', function() {
        history.back();
    });
</script>
