<ul class="nav justify-content-end fixed-top" >
    <li class="nav-item">
        <a class="nav-link disabled" href="#" title="Administration">Administration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/" title="Accueil">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_show', {'id': app.user.id}) }}" title="Profil">Mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}" title="">Se déconnecter</a>
    </li>
</ul>
{% if app.request.requestUri == '/event/' %}
    <div class="container d-flex justify-content-end">
        <div class="d-flex flex-column align-items-end">
            <p>Date du jour : <strong>{{ "now"|format_datetime(pattern="d MMMM y", locale='fr') }}</strong></p>
            <p>Participant : <strong>{{ app.user.username }}</strong></p>
        </div>
    </div>
{% endif %}