<nav>
    <ul>
        <li>
            <a href="#" title="Administration">Administration</a>
        </li>
        <li>
            <a href="#" title="Accueil">Accueil</a>
        </li>
        <li>
            <a href="#" title="Profil">Mon profil</a>
        </li>
        <li>
            <a href="#" title="">Se déconnecter</a>
        </li>
    </ul>
</nav>
