<nav>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" title="Administration">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" title="Accueil">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Profil">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="">Se déconnecter</a>
        </li>
    </ul>
</nav>
